# creating a simple python list
a = [1,4,3,7,2,6,3]
a

In [26]:
# Now lets convert it into pandas object called a series
import pandas as pd
a = pd.Series(a)
a

0    1
1    4
2    3
3    7
4    2
5    6
6    3
dtype: int64

In [6]:
type(a)

pandas.core.series.Series

#  simple series operations such as sorting,max., sum, count

In [7]:
a.max()

7

In [8]:
a.min()

1

In [9]:
a.sum()

26

In [27]:
a

0    1
1    4
2    3
3    7
4    2
5    6
6    3
dtype: int64

In [30]:
a.sort_values()

0    1
4    2
2    3
6    3
1    4
5    6
3    7
dtype: int64

In [34]:
a.sort_values(ascending=False,inplace=True)

In [37]:
a.value_counts()

3    2
7    1
6    1
4    1
2    1
1    1
dtype: int64

In [38]:
a[:1]

3    7
dtype: int64

In [39]:
a.sort_values(ascending=False)

3    7
5    6
1    4
6    3
2    3
4    2
0    1
dtype: int64

In [40]:
a[:3]

3    7
5    6
1    4
dtype: int64

In [41]:
a[:5]

3    7
5    6
1    4
2    3
6    3
dtype: int64

In [17]:
data ={
    'apples' : [3,2,0,1],
    'oranges':[3,2,0,1]
}

In [18]:
purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        3
1       2        2
2       0        0
3       1        1