In [9]:
print('Welcome to the Revision class of Python')

Welcome to the Revision class of Python

In [10]:
print("Welcome to the Revision Classof Python")

Welcome to the Revision Classof Python

In [11]:
if 5 > 12:
    print('Welcome to the Revision class of Python')

In [12]:
if 5 > 2:
    print('Welcome to the Revision class of Python')

Welcome to the Revision class of Python

In [5]:
if 5 > 2:
    print('Welcome to the Revision class of Python')
    print('Welcome to the Revision class of Python 1')

Welcome to the Revision class of Python
Welcome to the Revision class of Python 1

In [13]:
x=5 
y= "hello world"

In [7]:
x

5

In [14]:
y

'hello world'

In [15]:
x=5 
y= "hello world"
print(x)
print(y)

5
hello world

In [16]:
x=5 
y= "hello world"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [17]:
x=50.1
y= 1j
print(type(x))
print(type(y))

<class 'float'>
<class 'complex'>

In [18]:
x=["Apple","Bannana", "Watermelon"] 
y= "orange"
print(type(x))
print(type(y))

<class 'list'>
<class 'str'>

In [20]:
x=("Apple","Bannana", "Watermelon")
print(type(x))

<class 'tuple'>

In [24]:
x= {"Name":"Apple", "type" : "Fruit"}
print(type(x))
print(x)

<class 'dict'>
{'Name': 'Apple', 'type': 'Fruit'}

In [29]:
x= frozenset({"Name","Apple","Orange","Cherry"})
print(type(x))
print(x)

<class 'frozenset'>
frozenset({'Cherry', 'Apple', 'Orange', 'Name'})

In [3]:
x= True
print(x)
print(type(x))

True
<class 'bool'>

In [5]:
x = b"True"
print(x)
print(type(x))

b'True'
<class 'bytes'>

In [30]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [1]:
x= memoryview(bytes(5))

In [2]:
x

In [32]:
x = 1 #int
y = 2.8 #float
z = 1j #complex

In [33]:
y

2.8

In [34]:
type(x)
type(y)
type(z)

complex

In [35]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [36]:
x = int(1)
y = int(9.8)
z = int("3")
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [37]:
x = str("PKN")
y = str(9.8)
z = str("3")
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

In [38]:
x = str("PKN")
y = str(9.8)
z = str(3)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

In [42]:
a = '''Aditya has a doubt,  
which is regarding scan,
which we need to address,
the concept'''
print(a)

Aditya has a doubt,
which is regarding scan,
which we need to address,
the concept

In [43]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [46]:
a = 200
b = 33
if b>a:
    print("b is greater than a")
else:
    print("a is greater than b")

a is greater than b

In [45]:
a = 200
b = 33
if b>a:
    print("b is greater than a")
else:
    print("b is  not greater than a")

b is  not greater than a

In [47]:
a = 20
b = 33
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is greater than a

In [48]:
print(10 + 5)

15

In [49]:
x = 2
y = 4
print(x+y)
print(x-y)

6
-2

In [52]:
x = 2
y = 4
print(x+y)
print(x-y)
print(x*y)
print(x**y)
print(x / y)
print(x % y)
print(x // y)

6
-2
8
16
0.5
2
0

In [53]:
thisislist = ["Apple", "Banana","Grapes"]

In [54]:
thisislist

['Apple', 'Banana', 'Grapes']

In [55]:
type(thisislist)

list

In [57]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
print(thisislist)

['Apple', 'Banana', 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1']

In [58]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
print(thisislist[1])

Banana

In [59]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
print(thisislist[0])

Apple

In [60]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
print(thisislist[0:4])

['Apple', 'Banana', 'Grapes', 'Apple 1']

In [61]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
print(thisislist[-1])

Grapes 1

In [62]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
print(thisislist[1])

Banana

In [63]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
print(thisislist[:4])

['Apple', 'Banana', 'Grapes', 'Apple 1']

In [64]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
print(thisislist[2:])

['Grapes', 'Apple 1', 'Banana 1', 'Grapes 1']

In [65]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisislist[1] = "Blackcurrent"
print(thisislist)

['Apple', 'Blackcurrent', 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1']

In [67]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisislist[1] = ["Blackcurrent", "Watermelon"]
print(thisislist)

['Apple', ['Blackcurrent', 'Watermelon'], 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1']

In [68]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisislist[4] = ["Blackcurrent", "Watermelon"]
print(thisislist)

['Apple', 'Banana', 'Grapes', 'Apple 1', ['Blackcurrent', 'Watermelon'], 'Grapes 1']

In [69]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisislist[4] = "Blackcurrent"
print(thisislist)

['Apple', 'Banana', 'Grapes', 'Apple 1', 'Blackcurrent', 'Grapes 1']

In [70]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisislist[-2] = ["Blackcurrent", "Watermelon"]
print(thisislist)

['Apple', 'Banana', 'Grapes', 'Apple 1', ['Blackcurrent', 'Watermelon'], 'Grapes 1']

In [71]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisislist[-2] = "Blackcurrent"
print(thisislist)

['Apple', 'Banana', 'Grapes', 'Apple 1', 'Blackcurrent', 'Grapes 1']

In [72]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisislist.append("orange")
print(thisislist)

['Apple', 'Banana', 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1', 'orange']

In [74]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisislist.insert(1, "orange")
print(thisislist)

['Apple', 'orange', 'Banana', 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1']

In [75]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisislist.insert(2, "orange")
print(thisislist)

['Apple', 'Banana', 'orange', 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1']

In [77]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
tropical = ["Mango","Pineapple","Papaya","Mango 1","Pineapple 1","Papaya 1"]
thisislist.extend(tropical)
print(thisislist)

['Apple', 'Banana', 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1', 'Mango', 'Pineapple', 'Papaya', 'Mango 1', 'Pineapple 1', 'Papaya 1']

In [78]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
tropical = ["Mango","Pineapple","Papaya","Mango 1","Pineapple 1","Papaya 1","Guava"]
thisislist.extend(tropical)
print(thisislist)

['Apple', 'Banana', 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1', 'Mango', 'Pineapple', 'Papaya', 'Mango 1', 'Pineapple 1', 'Papaya 1', 'Guava']

In [79]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisistuple = ("Mango","Pineapple","Papaya","Mango 1","Pineapple 1","Papaya 1")
thisislist.extend(thisistuple)
print(thisislist)

['Apple', 'Banana', 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1', 'Mango', 'Pineapple', 'Papaya', 'Mango 1', 'Pineapple 1', 'Papaya 1']

In [82]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisistuple = ("Mango","Pineapple","Papaya","Mango 1","Pineapple 1","Papaya 1")
thisislist.remove("Banana")
print(thisislist)

['Apple', 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1']

In [83]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisistuple = ("Mango","Pineapple","Papaya","Mango 1","Pineapple 1","Papaya 1")
thisislist.remove("Apple 1")
print(thisislist)

['Apple', 'Banana', 'Grapes', 'Banana 1', 'Grapes 1']

In [84]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
tropical = ["Mango","Pineapple","Papaya","Mango 1","Pineapple 1","Papaya 1"]
del thisislist

In [85]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
tropical = ["Mango","Pineapple","Papaya","Mango 1","Pineapple 1","Papaya 1"]
thisislist.clear()
print(thisislist)

[]

In [6]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
thisislist.pop(0)
print(thisislist)

['Banana', 'Grapes', 'Apple 1', 'Banana 1', 'Grapes 1']

# loops

In [86]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
for x in thisislist:
    print(x)

Apple
Banana
Grapes
Apple 1
Banana 1
Grapes 1

In [15]:
thisislist = ["Apple", "Banana","Grapes","Apple 1", "Banana 1","Grapes 1"]
for i in range (len(thisislist)):
    print(thisislist[i])

Apple
Banana
Grapes
Apple 1
Banana 1
Grapes 1

In [72]:
thisislist = ["Apple","Banana","Cherry"]
[print (thisislist[i]) for i in range (len(thisislist))]

Apple
Banana
Cherry

[None, None, None]

In [93]:
thisislist = ["Apple","Banana","Cherry"]
[print (x) for x in thisislist]

Apple
Banana
Cherry

[None, None, None]

In [101]:
fruits = ["apple","Banana","Cherry","kiwi","Mango"]
newlist = []
for x in fruits:
    if "a"in x:
        newlist.append(x)
print(newlist)

['apple', 'Banana', 'Mango']

In [100]:
fruits = ["apple","Banana","Cherry","kiwi","Mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'Banana', 'Mango']

In [1]:
thisislist = ["Orange","Mango","kiwi","Pineapple","Bannana"]
thisislist.sort()
print(thisislist)

['Bannana', 'Mango', 'Orange', 'Pineapple', 'kiwi']

In [2]:
thisislist = [100,40,50,2,22,83,78]
thisislist.sort()
print(thisislist)

[2, 22, 40, 50, 78, 83, 100]

In [3]:
thisislist = ["Orange","Mango","kiwi","Pineapple","Bannana"]
thisislist.sort(reverse=True)
print(thisislist)

['kiwi', 'Pineapple', 'Orange', 'Mango', 'Bannana']

In [4]:
thisislist = [100,40,50,2,22,83,78]
thisislist.sort(reverse=True)
print(thisislist)

[100, 83, 78, 50, 40, 22, 2]

In [5]:
thisislist = ["Orange","Mango","kiwi","Pineapple","Bannana"]
newlist = thisislist.copy()
print(newlist)

['Orange', 'Mango', 'kiwi', 'Pineapple', 'Bannana']

In [6]:
thisislist = [100,40,50,2,22,83,78]
newlist = thisislist.copy()
print(newlist)

[100, 40, 50, 2, 22, 83, 78]

In [7]:
list1 = ["Orange","Mango","kiwi","Pineapple","Bannana"]
list2 = [100,40,50,2,22,83,78]
list3 = list1 + list2
print(list3)

['Orange', 'Mango', 'kiwi', 'Pineapple', 'Bannana', 100, 40, 50, 2, 22, 83, 78]

In [8]:
list1 = ["Orange","Mango","kiwi","Pineapple","Bannana"]
list2 = [100,40,50,2,22,83,78]
for x in list2:
    list1.append(x)
print(list1)

['Orange', 'Mango', 'kiwi', 'Pineapple', 'Bannana', 100, 40, 50, 2, 22, 83, 78]

In [9]:
list1 = ["Orange","Mango","kiwi","Pineapple","Bannana"]
list2 = [100,40,50,2,22,83,78]
list1.extend(list2)
print(list1)

['Orange', 'Mango', 'kiwi', 'Pineapple', 'Bannana', 100, 40, 50, 2, 22, 83, 78]

In [10]:
list1 = ["Apple","Custardapple","mango"]
list2 = [5,10,15,2,100,1000]
list1.extend(list2)
print(list1)

['Apple', 'Custardapple', 'mango', 5, 10, 15, 2, 100, 1000]

In [11]:
list1 = ["Orange","Mango","kiwi","Pineapple","Bannana"]
print(list1)

['Orange', 'Mango', 'kiwi', 'Pineapple', 'Bannana']

tuples are basically used to store multiple items in a single variable
eg: mytuple= ("Apple","Banana","Cherry")
we can change in list but tuple would be unchangeable

In [12]:
thisistuple = ("Apple","Banana","Cherry")
print(thisistuple)

('Apple', 'Banana', 'Cherry')

In [13]:
thisistuple = ("Apple","Banana","Cherry","Apple","Banana","Cherry")
print(thisistuple)

('Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry')

In [14]:
thisistuple = ("Apple","Banana","Cherry","Apple","Banana","Cherry")
print(len(thisistuple))

6

In [16]:
tuple1 = ("Orange","Mango","kiwi","Pineapple","Bannana")
tuple2 = (100,40,50,2,22,83,78)
tuple3 = (True, False, False)

In [17]:
tuple1

('Orange', 'Mango', 'kiwi', 'Pineapple', 'Bannana')

In [18]:
tuple2

(100, 40, 50, 2, 22, 83, 78)

In [19]:
tuple3

(True, False, False)

In [20]:
tuple1 = ("Orange","Mango","kiwi","Pineapple","Bannana")
tuple2 = (100,40,50,2,22,83,78)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('Orange', 'Mango', 'kiwi', 'Pineapple', 'Bannana')
(100, 40, 50, 2, 22, 83, 78)
(True, False, False)

In [22]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1)
print(type(tuple1))

('Orange', 23, 'Pineapple', 'Banana', True, '34')
<class 'tuple'>

In [23]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[1])

23

In [24]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[0])

Orange

In [25]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[3])

Banana

In [26]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[-3])

Banana

In [27]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[-2])

True

In [28]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[2])

Pineapple

In [29]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[:4])

('Orange', 23, 'Pineapple', 'Banana')

In [31]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[2:4])

('Pineapple', 'Banana')

In [32]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[2:])

('Pineapple', 'Banana', True, '34')

In [33]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[-4:-1])

('Pineapple', 'Banana', True)

In [34]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[-1:-4])

()

In [35]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[-4:])

('Pineapple', 'Banana', True, '34')

In [36]:
tuple1 = ("Orange", 23, "Pineapple", "Banana", True, "34")
print(tuple1[:-4])

('Orange', 23)

# converting tuple to list

In [37]:
x = ("Apple","Banana","Cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('Apple', 'kiwi', 'Cherry')

In [38]:
x = ("Apple","Banana","Cherry")
y = list(x)

In [39]:
y

['Apple', 'Banana', 'Cherry']

In [43]:
x = ("Apple","Banana","Cherry")
y = list(x)
y.append("Orange")
thisistuple = tuple(y)
print(thisistuple)

('Apple', 'Banana', 'Cherry', 'Orange')

In [45]:
x = ("Apple","Banana","Cherry")
y = list(x)
y.append("Berry")
thisistuple = tuple(y)
print(thisistuple)

('Apple', 'Banana', 'Cherry', 'Berry')

In [46]:
x = ("Apple","Banana","Cherry","Orange")
y = list(x)
y.remove("Orange")
thisistuple = tuple(y)
print(thisistuple)

('Apple', 'Banana', 'Cherry')

In [47]:
x = ("Apple","Banana","Cherry","Orange")
y = list(x)
y.remove("Banana")
thisistuple = tuple(y)
print(thisistuple)

('Apple', 'Cherry', 'Orange')

In [48]:
x = ("Apple","Banana","Cherry","Orange")
y = list(x)
y.remove("Apple")
thisistuple = tuple(y)
print(thisistuple)

('Banana', 'Cherry', 'Orange')

In [50]:
x = ("Apple","Banana","Cherry","Orange")
y = list(x)
y.remove("Cherry")
thisistuple = tuple(y)
print(thisistuple)

('Apple', 'Banana', 'Orange')

In [51]:
x = (100,40,50,2,22,83,78)
y = list(x)
y.remove(40)
thisistuple = tuple(y)
print(thisistuple)

(100, 50, 2, 22, 83, 78)

In [8]:
x = (100,40,50,2,22,83,78)
y = list(x)
y.remove(78)
thisistuple = tuple(y)
print(thisistuple)

(100, 40, 50, 2, 22, 83)

# Unpacking in tuple

In [53]:
thisistuple = ("Apple","Banana","Cherry","Orange")

In [54]:
thisistuple

('Apple', 'Banana', 'Cherry', 'Orange')

In [57]:
fruits = ("Apple","Banana","Cherry") 
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

Apple
Banana
Cherry

In [58]:
fruits = (100,40,20) 
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

100
40
20

In [63]:
fruits = ("Apple","Banana","Cherry","Apple","Banana","Cherry") 
(green, yellow, purple, orange, red, pink) = fruits
print(green)
print(yellow)
print(red)
print(pink)

Apple
Banana
Banana
Cherry

In [65]:
fruits = ("Apple","Banana","Cherry","Mango","Orange") 
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

Apple
Banana
['Cherry', 'Mango', 'Orange']

In [66]:
fruits = ("Apple","Banana","Cherry","Mango","Orange") 
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

Apple
['Banana', 'Cherry', 'Mango']
Orange

In [67]:
fruits = ("Apple","Banana","Cherry","Mango","Orange") 
for x in fruits:
    print(x)

Apple
Banana
Cherry
Mango
Orange

In [71]:
fruits = ("Apple","Banana","Cherry","Mango","Orange") 
for i in range (len(fruits)):
    print(fruits[i])

Apple
Banana
Cherry
Mango
Orange